.custom_scrollbar {
    --scrollbar-color: #ccdff533;

    /* For WebKit (Chrome, Safari) */
    &::-webkit-scrollbar {
        width: 6px;
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-color);
        border-radius: 4px;
    }

    /* For Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
}