html {
    background: #000
}

.l-animate {
    &--fade-in {
        animation: fade-in 0.4s linear;
    }

    &--fade-in-up {
        animation: fade-in-up 0.2s linear;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fade-in-up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


